.Bienvenido1{
  text-align: center;
  color: #555555;
  font-size: 35px;
}

.Bienvenido2{
  text-align: center;
  color: #555555;
  font-size: 20px;
}

.MuiButton-root {
  border-radius: 0.7rem !important;
  padding: 0px !important;
}

.card {
  max-height: 600px;
}

.card-image {
  height: 250px;
  text-align: center;
}

.card-content {
  height: 250px;
}